@import "@/shared/styles/abstracts/mixins";

.container {
  min-height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  border-radius: 20px;
  background-color: hsl(var(--card));
  padding: 40px 24px;
  width: 95%;
  max-width: 720px;

  @include md {
    padding: 60px 100px;
  }
}
