:root {
  --foreground: 0, 0%, 18%;
  --background: 247, 10.6%, 83.3%;
  --primary: 347, 77.2%, 49.8%;
  --secondary: 246, 28%, 45%;
  --pink: 0, 62%, 68%;
  --pink-light: 1, 56%, 82%;
  --card: 0, 0%, 96%;
  --muted: 0, 0%, 66%;
  --muted-foreground: 246, 9%, 62%;
  --white: 0, 0%, 100%;
  --black: 0, 0%, 0%;
}
